body {
  margin: auto;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
}
main {
  display: grid;
  place-items: center;
  margin: 0rem 0.5rem;
}
h1 {
  color: darkslateblue;
  font-size: 3rem;
  text-align: center;
}

h3 {
  margin: 0rem;
  color: darkslateblue;
}

#main-text {
  margin: 0rem 1rem;
  padding: 0px;
  text-align: center;
  line-height: 5vh;
}

#option-list {
  display: grid;
  margin: 1rem;
  margin-top: 3rem;
  justify-items: justify;
  align-items: center;
}

ul {
  display: grid;
  gap: 1rem;
  margin: 0rem 0.5rem;
  list-style: none;
  padding: 0px;
}

li {
  margin: 0rem;
  text-align: center;
}
li p {
  text-align: center;
}
.custom-button,
.random-button,
summary span {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 1rem;
  border: none;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 15px;
  background-color: orange;
  box-shadow: 0px 4px rgba(0, 0, 0, 0);
  transition: transform 0.5s ease, background-color 0.3s, box-shadow 0.3s ease,
    color 0.3s ease, font-size 0.3s ease;
}

.custom-button:hover,
.random-button:hover,
summary span:hover {
  box-shadow: 0px 4px rgba(0, 0, 0, 1);
}

.custom-button:active,
.random-button:active {
  transform: scale(0.98);
  color: black;
  font-size: 1.18rem;
  background-color: greenyellow;
  box-shadow: 0px 4px rgba(0, 0, 0, 1);
}

summary span:active {
  transform: scale(0.98);
  color: black;
  font-size: 1.18rem;
  background-color: greenyellow;
  box-shadow: 0px 4px rgba(0, 0, 0, 1);
}

.button-clicked {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 1rem;
  border: none;
  padding: 0.5rem;
  border-radius: 15px;
  transform: scale(0.97);
  font-size: 1.18rem;
  background-color: greenyellow;
  box-shadow: 0px 4px rgba(0, 0, 0, 1);
}

summary {
  display: grid;
  list-style: none;
  justify-content: center;
}

details[open] summary::before {
  content: "";
}

#custom-option {
  display: grid;
  place-items: center;
  text-align: start;
  margin-bottom: 1rem;
}

#form-lines {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin: 0.5rem 0rem;
}

.custom-password,
.random-password {
  display: block;
  text-align: center;
  color: blue;
  font-weight: 900;
  font-size: 2rem;
  cursor: pointer;
  text-shadow: 0px 0px 20px rgba(0, 128, 255, 0);
  transition: transform 0.5s ease, text-shadow 0.3s ease, color 0.3s ease,
    font-size 0.3s ease;
}

.custom-password:hover,
.random-password:hover {
  text-shadow: 0px 0px 20px rgba(0, 128, 255, 1);
}

.custom-password:active,
.random-password:active {
  transform: scale(0.98);
  font-size: 1.96rem;
  color: rgb(96, 184, 3);
  text-shadow: 0px 0px 20px rgb(96, 184, 3);
}

.text-clicked {
  display: block;
  text-align: center;
  font-size: 1.96rem;
  font-weight: 900;
  cursor: pointer;
  color: rgb(96, 184, 3);
  text-shadow: 0px 0px 20px rgb(96, 184, 3);
}
